<html>
<body>
<font size=+2><b>Record for %name%</b></font><br><br>
<table>
<tr><td>My Name:</td><td> %name%</td></tr>
<tr><td>My Email:</td><td> %email%</td></tr>
<tr><td>My Homepage URL:</td><td> %url%</td></tr>
<tr><td>My Gender:</td><td> %sex%</td></tr>
<tr><td>My Age:</td><td> %age%</td></tr>
<tr><td>Looking for:</td><td> %pref%</td></tr>
<tr><td>My City:</td><td> %city%</td></tr>
<tr><td>My State:</td><td> %state%</td></tr>
<tr><td>My Country:</td><td> %country%</td></tr>
<tr><td>Currently:</td><td> %situation%</td></tr>
<tr><td>My Ethnicity:</td><td> %race%</td></tr>
<tr><td>My Religion:</td><td> %religion%</td></tr>
<tr><td>My Height:</td><td> %height%</td></tr>
<tr><td>My Weight:</td><td> %weight%</td></tr>
<tr><td>My Hair Color:</td><td> %hair%</td></tr>
<tr><td>My Eye Color:</td><td> %eyes%</td></tr>
<tr><td>Formal Education completed:</td><td> %education%</td></tr>
<tr><td>My Occupation:</td><td> %work%</td></tr>
<tr><td>My Hobbies:</td><td> %hobbies%</td></tr>
<tr><td>My Perfect Match's age:</td><td> %matchage%</td></tr>
<tr><td>Details:</td><td> %desc%</td></tr>
</table>
<br><br>
<a href=%scripturl%?action=view><b>Return to Listings</b></a>
<br><br>
</body>
</html>
