<html>
<head>
<title>SurveyWizard</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<h2><font face="Verdana, Arial">SurveyWizard - Create Survey</font></h2>
<form name="form1" method="post" action="%phpself%">
<center>
<p><font face="Verdana, Arial" size="2">First, give this survey a name</font></p>
<p> 
<input type="text" name="name" size="50">
</p>
<p>
<input type="submit" name="Submit" value="Start Adding Questions">
</p>
</center>
</form>
</body>
</html>
