 <!--
     The HTML in this file determines how each question will display.
     This file must NOT contain HEAD or BODY tags. It is suggested that
     you build this file to contain a single table with the necessary
     tokens (%qnum% %numquestions% %question% %answers%) inside.
 -->
<table width="75%" border="0" cellspacing="0" cellpadding="1" bgcolor="#CCCCCC" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#FFFFFF">
<tr> 
<td bgcolor="#CCCCCC"><b><font face="Verdana, Arial" size="2">Question %qnum% 
of %numquestions%</font></b></td>
</tr>
<tr> 
<td bgcolor="#F0F0F0"><font face="Verdana, Arial" size="2">%question%</font></td>
</tr>
<tr> 
<td><font face="Verdana, Arial" size="2">%answers%</font></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
