<HTML>
<HEAD>
<TITLE>McDev Exit Exchange</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
		<link href="../../05.css" rel="stylesheet" media="screen">
	</HEAD>
<BODY BGCOLOR=#6e6e6e LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>
		<!-- ImageReady Slices (navigation.psd) -->
		<table width="95%" border="0" cellspacing="2" cellpadding="0" align="center">
			<tr>
				<td width="207">
					<TABLE WIDTH=207 BORDER=0 CELLPADDING=0 CELLSPACING=0>
						<TR>
							<TD COLSPAN=3><IMG SRC="../../images/index_01.jpg" WIDTH=207 HEIGHT=166 ALT=""></TD>
						</TR>
						<TR>
							<TD ROWSPAN=6><IMG SRC="../../images/index_02.jpg" WIDTH=13 HEIGHT=402 ALT=""></TD>
							<TD><a href="get_site.pl?id=home&ref=$ref"><IMG SRC="../../images/index_03.jpg" WIDTH=177 HEIGHT=43 ALT="" border="0"></a></TD>
							<TD ROWSPAN=6><IMG SRC="../../images/index_04.jpg" WIDTH=17 HEIGHT=402 ALT=""></TD>
						</TR>
						<TR>
							<TD><a href="get_site.pl?id=register&ref=$ref"><IMG SRC="../../images/index_05.jpg" WIDTH=177 HEIGHT=44 ALT="" border="0"></a></TD>
						</TR>
						<TR>
							<TD><a href="get_site.pl?id=login&ref=$ref"><IMG SRC="../../images/index_06.jpg" WIDTH=177 HEIGHT=44 ALT="" border="0"></a></TD>
						</TR>
						<TR>
							<TD><a href="get_site.pl?id=faq&ref=$ref"><IMG SRC="../../images/index_07.jpg" WIDTH=177 HEIGHT=44 ALT="" border="0"></a></TD>
						</TR>
						<TR>
							<TD><a href="get_site.pl?id=contact&ref=$ref"><IMG SRC="../../images/index_08.jpg" WIDTH=177 HEIGHT=43 ALT="" border="0"></a></TD>
						</TR>
						<TR>
							<TD><IMG SRC="../../images/index_09.jpg" WIDTH=177 HEIGHT=184 ALT=""></TD>
						</TR>
					</TABLE>
				</td>
				<td align="center" valign="top">
					<p><font size="+3" color="#e6e6e6" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><b><br>McDev Exit Exchange</b></font></p>
					<p></p>
					<p><font size="+1" color="#e6e6e6" face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"><br>
							<u>These are the users this system contains:</u></font></p>
					<p></p>
					<p><font color="#e6e6e6">This system contains $usercount users.</font></p>
					<p><font color="#e6e6e6"><u>Page $page</u></font></p>
					<p>$table</p>
					
					<p>$pages_link</p>
					<p><form action=show_users.pl method=get>List <input type=text name=show size=3 maxlength=5> users per page.<input type=hidden name=page value=1><input type=hidden name=sessid value=$sessid>&nbsp;<input type=submit value="Do!"></form>
					</p>
					<p><u>Add credits to an account (neg. values to substract):</u></p>
					<table width="50%" border="0" cellspacing="2" cellpadding="0"><form action=add_usercredits.pl?sessid=$sessid&page=$page&show=$show method=post>
						<tr>
							<td>
								<div align="right">
									username:</div>
							</td>
							<td><input type=text name=username size=15 maxlength=14></td>
							<td>
								<div align="right">
									amount:</div>
							</td>
							<td><input type=text name=amount size=5></td>
								<td><input type=submit value="Do!"></td>
							</tr></form>
					</table>
					<p><a href="admin_account.pl?sessid=$sessid">Back to account</a></p>
				</td>
			</tr>
		</table>
		<!-- End ImageReady Slices -->
</BODY>
</HTML>
